/* ==UserStyle==
@name           Global
@namespace      github.com/openstyles/stylus
@version        2025.09.05
@description    Various changes for all sites
@author         VMPYRC
==/UserStyle== */
@-moz-document url-prefix("https://")
{
  a,
  a:link {
    color: #3399bb !important;
    text-decoration: underline !important;
  }
  a:visited,
  a:active {
    color: #ff0080 !important;
    text-decoration: underline !important;
  }
  a:hover {
    color: #9900ff !important;
    text-decoration: underline !important;
  }
  hr {
    background-image: linear-gradient(to right, #ff0080 0%, #00ffff 100%);
    border: 0;
    height: 2px;
    text-align: center;
    width: 80%;
  }
  blockquote {
    border: 2px solid #9900ff;
    border-radius: 5px;
    margin: 1em 1px;
    padding: 0.5em 5px;
    padding-left: 10px;
  }
  code,
  pre,
  tt {
    border: 2px solid #ff0080;
    padding: 2px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
